@{
    ViewData["Title"] = "KEANet";
}

<h1>KEANet</h1>
<div>
    <input type="checkbox" id="chkInternetConnection">
    <label for="chkInternetConnection">Internet connection</label>
    <br>
    <label for="txtPhoneLines">Phone lines</label>
    <input type="number" id="txtPhoneLines" value="0">
    <br>
    <label for="cmbCellPhones">Cell phones:</label>
    <br>
    <table>
        <tr>
            <td>
                <select id="txtCellPhones" size="5">
                    <option value="Motorola G99">Motorola G99</option>
                    <option value="iPhone 99">iPhone 99</option>
                    <option value="Samsung Galaxy 99">Samsung Galaxy 99</option>
                    <option value="Sony Xperia 99">Sony Xperia 99</option>
                    <option value="Huawei 99">Huawei 99</option>
                </select>
            </td>
            <td>
                <input type="select" onclick="" value="&gt;">
                <br>
                <input type="deselect" value="&lt;">
            </td>
            <td>
                <select id="txtChosenCellPhones" size="5" style="width: 150px">
                </select>
            </td>
        </tr>
    </table>
    <br>
    Total price: 0 DKK
    <br>
    <input type="submit" value="Buy">
</div>